<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
  <mat-selection-list role="list">
    <mat-list-option role="listitem" *ngFor="let item of tags$ | async">{{item.name}}</mat-list-option>
  </mat-selection-list>
  </mat-card-content></mat-card>
<mat-card>
<mat-card-title></mat-card-title>
<mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of orders | async" [value]="item" (click)="sort(item)">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of jobs$ | async">{{item.title}}
        <button mat-raised-button color="primary" (click)="delete(item.id)">Remove</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
